.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #fff;
  text-align: text-center;
}

footer,
.navbar {
  background-color: #000000;

  .nav-link {
    color: #adacac !important;
  }
}

.bj-link,
.theme-by.text-muted {
  color: #ffffff !important;
}

@media (max-width: 560px) {
  .posts-list {
    margin-top: 0px;
  }
}

@media (max-width: 560px) {
  .navbar {
    height: 100px;
  }

  .intro-header {
    margin-top: 110px;
  }
}
